// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar{
  position: fixed;
  top: 0;
  height: 69px;
  width: 100%;
  background-color: #A39EA9;
  opacity: 50%;
  display: flex;
  flex-direction: row;
}

.navbar-left{
  padding-top: 15px;
  padding-left:15px;
  opacity:100%;
}

.logo-btn-sm{
      border: 0px;
      a{
        // font-family: 'Amatic SC', cursive;
        font-family: 'Nunito',Helvetica, sans-serif;
        font-size: 20px;
        //color: white;
        color: white;
        // color: #FFC45F;
        opacity:100%;
        z-index:200;
        font-size:30px;
      }
    }

.navbar-right{
  // background: rgba(0, 0, 0, 0.5);
  // position: fixed;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-evenly;
  text-align: center;
  opacity:100%;
  margin-left: 50%;
  a{
    color: white;
    font-size: 15px;
  // color: #235053;
  // color: #88845A;
  font-family: 'Montserrat', sans-serif;
  // font-weight: 300;
}  // margin-left: 1000px;
  // // background-color: rgba(0,0,0,0.0);
  // // text-align: center;
  // // height: 80px;
  // position: absolute;
}

.nav-item:hover{
  background-color: white;
  border-radius: 4px;

}


